:root {
	--transition: all 0.7s ease;
	--dark: rgb(56, 13, 13);
	--green: rgb(81, 102, 55);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Source Code Pro", monospace;
}

html {
	scroll-behavior: smooth;
}
body {
	line-height: 1.6;
}
.btn {
	font-size: 16px;
	font-weight: 600;
	border: none;
	border-radius: 100px;
	padding: 10px;
	width: 140px;
	display: block;
	margin: 15px auto;
	cursor: pointer;
	transition: var(--transition);
	color: var(--dark);
	background-color: rgb(240, 240, 240);
}

.btn:hover {
	background-color: rgb(255, 255, 255);
	border: 3px solid rgb(255, 255, 255);
	transition: 120ms ease;
}

.flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

img {
	width: 100%;
	display: block;
}

@media (max-width: 500px) {
	body {
		font-size: 14px;
	}
}

.header {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
		url("/static/images/header.jpg") center/cover no-repeat;
	min-height: 100vh;
	color: #fff;
	padding: 25px;
	display: flex;
	flex-direction: column;
	align-content: stretch;
}

.head-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.head-top span {
	cursor: pointer;
	transition: var(--transition);
	position: fixed;
}

.head-top span:hover {
	color: var(--green);
}
.site::after {
	content: "drs";
}
.site:hover::after {
	content: "dajao recabo sampelo";
}

.head-bottom {
	flex: 1;
}
.head-bottom h2 {
	transition: var(--transition);
	font-size: 100px;
}
.head-bottom p{
	font-size: 20px;
	margin: 45px auto;
	width: 60vw;
	opacity: 0.8;
}
.start{
	margin: 20px 0;
	font-size: 20px;
	padding: 15px 20px;
	border: 3px solid rgba(255, 255, 255, 0.328);
	border-radius: 100px;
	background: rgba(0, 0, 0, 0.5);
	cursor: pointer;
	color: antiquewhite;
	transition: var(--transition)
}
.start:hover{
	background: transparent;
	border: 3px solid rgba(255, 255, 255, 0.582);
	border-radius: 30px;
	transition: .1s ease;
}
@media(max-width: 500px){
	.start{
		font-size: 16px;
	}
	.head-bottom h2{
		font-size: 75px;
	}
	.head-bottom p{
		font-size: 13px;
	}
}
@media(max-width: 768px){
	.start{
		font-size: 18px;
	}
	.head-bottom h2{
		font-size: 80px;
	}
	.head-bottom p{
		font-size: 17px;
	}
}

.sidenav{
	background: var(--dark);
	color:#fff;
	position: fixed;
	top: 0;
	bottom: 0;
	right:-100%; 
	width: 500px;
	padding: 20px;
	transition: 1s ease;
	z-index: 10;
}

.sidenav.show{
	right: 0;
}

.cancel{
	position: absolute;
	right: 25px;
	font-size: 22px;
	cursor: pointer;
	transition: var(--transition);
}
.cancel:hover{

	color: rgb(203, 248, 0);
	transform: rotate(90deg);
}
.navbar{
	margin-top: 50px;
	list-style: none;
	padding: 12px;
}
.navbar li a{
	text-decoration: none;
	display: block;
	padding: 15px 0;
	
	padding-left: 20px;
	color: #fff;
}
.navbar li a:hover{
	padding-left: 12px;
	border-radius: 100px;
	background-color: rgba(180, 180, 180, 0.438);
	transition: .2s ease;
}

@media(max-width: 400px){
	.sidenav{
		width: 100vw;
	}
}

.showModal{
	position: fixed;
	background: transparent;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 5;

}