<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/87d39f6446.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<link rel="icon" href="{% static 'images/drs_logo.png' %}" />
		
		<title>DRS Conference Rooms</title>
	</head>
	<body>
		<!-- header -->
		<header class="header" id="home">
			<div class="head-top">
				<div class="site">
					<p></p>
				</div>
				<div class="navicon">
					<span id="nav-btn" class="nav-btn"><i class="fas fa-bars"></i> </span>
				</div>
			</div>
			<div class="head-bottom flex">
				<h4>Welcome to</h4>
				<h1 class="site-title">DRS Conference Rooms</h1>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta vero quasi consequuntur nesciunt est labore! 
				</p>
				<button type="button" class="start">reserve a room</button>
			</div>
		</header>
		<!-- end of header  -->

		<!-- side nav -->
		<div class="sidenav" id="sidenav">
			<span class="cancel" id="cancel"><i class="fas fa-times"></i> </span>
			<ul class="navbar">
				<li><a href="#home">home</a></li>
				<li><a href="#services ">services</a></li>
				<li><a href="#aboutus">about us</a></li>
				<li><a href="contact">contact us</a></li>
				<li><a href="#rooms">rooms</a></li>
			</ul>
			<div class="buttons">
				<button class="btn signup">sign up</button>
				<button class="btn login">login</button>
			</div>
		</div>
		<!-- full screen modal -->
		<div id="modal"></div>
		
		<!-- end of side nav -->

		<!-- services -->
		<section class="services" id="services">
			<div class="row">
				<h2>Services</h2>
			</div>
			<div class="row">
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">
							<i class="fa-solid fa-mug-hot"></i>
						</div>
						<h3>Unlimited Coffee</h3>
						<p>Attendees should be alert and focused for the meeting, make sure they have what they need to pay attention!</p>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">
							<i class="fa-solid fa-chair"></i>
						</div>
						<h3>Comfortable Tables and Chairs</h3>
						<p>Attendees do not need to worry about their posture because the chairs are all ergonomic to avoid back or neck pain during the meeting or conference. </p>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">
							<i class="fa-solid fa-wind"></i>
						</div>
						<h3>Air-conditioned Rooms</h3>
						<p>Guaranteed no sweat inside the conference room! :D</p>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">
							<i class="fa-solid fa-microchip"></i>
						</div>
						<h3>Latest Technology</h3>
						<p>The rooms are equipped with the latest technologies for it to be convenient and compatible with any Attendees' technology</p>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">
							<i class="fa-solid fa-lightbulb"></i>
						</div>
						<h3>Ambient Lighting</h3>
						<p>DRS Conference Rooms only use ambient lighting for comfortability for the Attendees and to make them feel cozy and stress-free brainstorming.</p>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">
							<i class="fa-solid fa-clock"></i>
						</div>
						<h3>More Time for Usage</h3>
						<p>DRS Conference Rooms offer up 10 hours of usage per conference room!</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end of services -->

		<!-- room slider -->
		<section class="room-slider">
			<div class="room-slider-container">

			</div>
		</section>
		<!-- end of room slider -->

		<!-- footer -->
		<section class="footer">
			<div class="footer-container">
				<div class="brand">
					<h3>DRS Conference Rooms</h3>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus, quas reprehenderit consectetur distinctio dicta odit enim veritatis quis. Excepturi aut nihil laboriosam! Aut maiores reprehenderit debitis, nam fugiat laborum quaerat.</p>
					<ul class="soc">
						<li><a href=""><i class="fa-brands fa-facebook"></i></a></li>
						<li><a href=""><i class="fa-brands fa-twitter"></i></a></li>
						<li><a href=""><i class="fa-solid fa-envelope"></i></a></li>
					</ul>
				</div>

				<div class="loc">
					<h3>Visit</h3>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nobis voluptates saepe quae illo impedit id. Molestiae ex, saepe porro quod aliquid consequuntur quibusdam explicabo eveniet, velit eum iusto placeat veniam!</p>
					<h3>Legal</h3>
					<ul>
						<li><a href="">Terms</a></li>
						<li><a href="">Privacy</a></li>
					</ul>
				</div>
				
				<div class="aboutus">
						
							<h3>About Us</h3>
							<div class="p1">
								<div>
									<img src="{% static 'images/bo.png'%}" alt="">
								</div>
								
									<a href="https://web.facebook.com/sampeloreynald/"><p>Reynald Sampelo</p></a>
								
							</div>
							<div class="p1">
								<div>
									<img src="{% static 'images/dajao.png'%}" alt="">
								</div>
							
									<a href="https://web.facebook.com/klint.dajao"><p>Klint Dajao</p></a>
							
							</div>
							<div class="p1">
								<div>
									<img src="{% static 'images/recabo.png'%}" alt="">
								</div>
								<div class="name">
									<a href="https://web.facebook.com/rkenneth3559"><p>Romel Recabo</p></a>
								</div>
							</div>	
						</div>
			
		</section>
		<!-- end of footer -->
	</body>
	<script src="{% static 'js/script.js' %}"></script>
</html>
