<html lang="en">
	{% load static %}
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://kit.fontawesome.com/87d39f6446.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}" />
		<link rel="icon" href="{% static 'images/drs_logo.png' %}" />
		
		<title>DRS Conference Rooms</title>
	</head>
	<body>
		<!-- header -->
		<header class="header" id="home">
			<div class="head-top">
				<div class="site">
					<p></p>
				</div>
				<div class="navicon">
					<span id="nav-btn" class="nav-btn"><i class="fas fa-bars"></i> </span>
				</div>
			</div>
			<div class="head-bottom flex">
				<h4>Welcome to</h4>
				<h1 class="site-title">DRS Conference Rooms</h1>
				<p>
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dicta vero quasi consequuntur nesciunt est labore! 
				</p>
				<button type="button" class="start">reserve a room</button>
			</div>
		</header>
		<!-- end of header  -->

		<!-- side nav -->
		<div class="sidenav" id="sidenav">
			<span class="cancel" id="cancel"><i class="fas fa-times"></i> </span>
			<ul class="navbar">
				<li><a href="#home">home</a></li>
				<li><a href="#services ">services</a></li>
				<li><a href="#aboutus">about us</a></li>
				<li><a href="contact">contact us</a></li>
				<li><a href="#rooms">rooms</a></li>
			</ul>
			<div class="buttons">
				<button class="btn signup">sign up</button>
				<button class="btn login">login</button>
			</div>
		</div>
		<!-- full screen modal -->
		<div id="modal"></div>
		
		<!-- end of side nav -->

		<!-- services -->
		<section class="services" id="services">
			<div class="row">
				<h2>Services</h2>
			</div>
			<div class="row">
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">
							<i class="fa-solid fa-bong"></i>
						</div>
						<h3>pwede mag weed</h3>
						<p>lets get high cuh</p>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">
							<i class="fa-solid fa-poop"></i>
						</div>
						<h3>unli libang sa table</h3>
						<p>let all of that shit</p>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">
							<i class="fa-solid fa-virus-covid"></i>
						</div>
						<h3>free covid</h3>
						<p> ez shit mate</p>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">

						</div>
						<h3>Service heading</h3>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, facere autem, nesciunt consequatur suscipit molestiae soluta atque dicta explicabo quidem quod reiciendis provident a illo similique voluptatibus praesentium ut corrupti?</p>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">

						</div>
						<h3>Service heading</h3>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, facere autem, nesciunt consequatur suscipit molestiae soluta atque dicta explicabo quidem quod reiciendis provident a illo similique voluptatibus praesentium ut corrupti?</p>
					</div>
				</div>
				<div class="column">
					<div class="card">
						<div class="icon-wrapper">

						</div>
						<h3>Service heading</h3>
						<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, facere autem, nesciunt consequatur suscipit molestiae soluta atque dicta explicabo quidem quod reiciendis provident a illo similique voluptatibus praesentium ut corrupti?</p>
					</div>
				</div>
			</div>
		</section>
		<!-- end of services -->

		<section class="footer">
			
		</section>
	</body>
	<script src="{% static 'js/script.js' %}"></script>
</html>
